@import 'nav.css';
@import 'footer.css';
/* FONT GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/header.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo{
    height: 180px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #000;
    text-transform:uppercase;
    font-size: 35px;
    font-weight: bold;
}

/* product */
.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-width: 600px;
    text-align: center;
    font-size: 35px;
    margin: 100px auto;
    text-transform: none;
}

.product-category:before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.product-category:after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn, 
.next-btn{
    border: none;
    position: absolute;
    width: 10vw;
    height: 120%;
    font-size: 40px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
}

.next-btn{
    right: 0;
}

.pre-btn i,
.next-btn i{
    opacity: 0.2;
}

.pre-btn:hover i,
.next-btn:hover i{
    opacity: 1;
}

/* collections */
.collection-container{
    padding: 2vw 25vw;
}

/* news */

.news-title{
    font-family: 'Pacifico', sans-serif;
    position: relative;
    max-width: 600px;
    text-align: center;
    font-size: 35px;
    margin: 100px auto;
    text-transform: none;
}

.news-title:before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.news-title:after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: 100%;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #f33c3c;
    font-size: 1rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #272727;
}

.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text a{
    color: #0f0f0f;
    text-decoration: none;
}

.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}


.content{
	padding:20px 0;
	background:#FFF;
}
.content h2{ 
	font-size:23px;
	color:#6C6C6C;
	font-family: 'Monda', sans-serif;
}
.content_top{
	padding:15px 20px;
	border:1px solid #EBE8E8;
	border-radius:3px;
}
.content_bottom{
	padding:15px 20px;
	border:1px solid #EBE8E8;
	border-radius:3px;
	margin-top:2.6%;
}

/* responsive */
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}

@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}

@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}